<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_614113ab4778460185ac5e665520ed4a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_614113ab4778460185ac5e665520ed4a" ></div>
        
</body>
<script>    
    
            var map_614113ab4778460185ac5e665520ed4a = L.map(
                "map_614113ab4778460185ac5e665520ed4a",
                {
                    center: [41.8333722, -87.628204],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_aeb2988bd3bb4d4f9d53cca309685dd2 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_614113ab4778460185ac5e665520ed4a);
        
    
            var marker_47b542b1dfff4436ae61b1ece541e1b1 = L.marker(
                [41.8333722, -87.628204],
                {}
            ).addTo(map_614113ab4778460185ac5e665520ed4a);
        
    
            var icon_d393c05cce474399b0832d21a1c0ab77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_47b542b1dfff4436ae61b1ece541e1b1.setIcon(icon_d393c05cce474399b0832d21a1c0ab77);
        
    
        var popup_6982549d0c984b4e943fb4fd211f0be6 = L.popup({"maxWidth": "100%"});

        
            var html_576c3ca22712405898bfa01d97878c5c = $(`<div id="html_576c3ca22712405898bfa01d97878c5c" style="width: 100.0%; height: 100.0%;">Test</div>`)[0];
            popup_6982549d0c984b4e943fb4fd211f0be6.setContent(html_576c3ca22712405898bfa01d97878c5c);
        

        marker_47b542b1dfff4436ae61b1ece541e1b1.bindPopup(popup_6982549d0c984b4e943fb4fd211f0be6)
        ;

        
    
    
            var marker_ab757b9f8a0d4fefb690c1c2281d887d = L.marker(
                [42.8333722, -87.628204],
                {}
            ).addTo(map_614113ab4778460185ac5e665520ed4a);
        
    
            var icon_2d7c653e708f43debceb613b9dd8cdae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ab757b9f8a0d4fefb690c1c2281d887d.setIcon(icon_2d7c653e708f43debceb613b9dd8cdae);
        
    
        var popup_4bef6909edf3405c8d300e9151b9baba = L.popup({"maxWidth": "100%"});

        
            var html_f523a8a7b1904d7988279494ad1851a0 = $(`<div id="html_f523a8a7b1904d7988279494ad1851a0" style="width: 100.0%; height: 100.0%;">Test</div>`)[0];
            popup_4bef6909edf3405c8d300e9151b9baba.setContent(html_f523a8a7b1904d7988279494ad1851a0);
        

        marker_ab757b9f8a0d4fefb690c1c2281d887d.bindPopup(popup_4bef6909edf3405c8d300e9151b9baba)
        ;

        
    
    
            var marker_9f51622c04c043f7a7c7f02d86db1428 = L.marker(
                [41.84722, -87.628204],
                {}
            ).addTo(map_614113ab4778460185ac5e665520ed4a);
        
    
            var icon_0381404dc2904939b12fe5fda10296ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9f51622c04c043f7a7c7f02d86db1428.setIcon(icon_0381404dc2904939b12fe5fda10296ed);
        
    
        var popup_cdf155a57fbe427a92096d304b94f2a8 = L.popup({"maxWidth": "100%"});

        
            var html_23362292bc9446ba98779da2be71d411 = $(`<div id="html_23362292bc9446ba98779da2be71d411" style="width: 100.0%; height: 100.0%;">Test</div>`)[0];
            popup_cdf155a57fbe427a92096d304b94f2a8.setContent(html_23362292bc9446ba98779da2be71d411);
        

        marker_9f51622c04c043f7a7c7f02d86db1428.bindPopup(popup_cdf155a57fbe427a92096d304b94f2a8)
        ;

        
    
</script>